.card-section {
  display: flex;
}

.container-cards {
  height: 390px;
}

.header-card {
  height: 195px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(217, 107, 10, 0.2);
  border-right: 0.5px solid #D96B0A;
}

.body-card {
  height: 195px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #914706;
}

.header-card h2 {
  font-size: 27px;
  font-weight: bold;
  color: white;
}

.body-card p {
  text-align: center;
  font-size: 20px;
  color: white;
  height: 80px;
  padding: 10px 10px;
}

.card-buttons {
  margin-top: 45px;
}

.card-image {
  height: 30px;
  width: 30px;
}

.header-card .image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  height: 64px;
  width: 64px;
  border-radius: 64px;
  border: 0.5px solid white;
  margin-bottom: 10px;
}

@media (max-width: 768px){
  .header-card h2 {
    font-size: 20px;
  }
  
  .body-card p {
    font-size: 16px;
  
  }
}