
.certificate-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-left: 50px;
    padding-bottom: 200px;
    padding-top: 60px;
    padding-right: 50px;
    background-color: white;
}

.certificate {
    padding-right: 180px;
}

.certificate-container h1 {
    font-size: 42px;
    font-weight: bold;
    color: #2E2E2E;
    padding-bottom: 90px;
}

.certificate-container p {
    font-size: 19px;
    color: #2E2E2E;
    padding-bottom: 90px;
}
@media (max-width: 768px){
    .certificate-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 35px 10px;
    }
    
    .certificate {
        padding-right: 0px;
        padding-bottom: 20px;
    }
    
    .certificate-container h1 {
        font-size: 25px;
        padding-bottom: 25px;
    }
    
    .certificate-container p {
        font-size: 16px;
        padding-bottom: 25px;
    }
}