/* CMA Certification section of CMA Certification page */

.cma-h2 {
    font-size: 30px;
    font-weight: bold;
    color: #2E2E2E;
    padding-bottom: 90px;
    padding-left: 50px;
    padding-right: 38%;
}
@media (max-width: 768px){
    .cma-h2 {
        font-size: 20px;
        padding:10px 10px;
    }
}
